*body {
    block-size: auto;
}

.home-section {
    position: relative;
    background: #fff;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

/*paginacion*/
#Formula:checked ~ #imagenes .Shampoo{
	display: none;
}
#Shampoo:checked ~ #imagenes .Formula{
	display: none;
}